:root {
  --background: #eae7dc;
  --foreground: #d8c3a5;
  --primary: #e85a4f;
  --secondary: #e98074;
  --dark: #8e8d8a;
  --base-font-size: calc(1em*1.3);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--background);
  font-size: var(--base-font-size);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

nav a {
  text-decoration: none;
}

.nav-logo {
  letter-spacing: 0.6em;
  margin: 0 10%;
}

.nav-logo a {
  color: var(--primary);
}

.nav-links {
  display: flex;
}

.nav-links {
  list-style-type: none;
}

.nav-links a {
  color: var(--secondary);
}

.container {
  margin: 0 auto;
  min-height: 80vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-image {
  z-index: 2;
  width: 20%;
  max-width: 300px;
}

.intro-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.intro-square {
  z-index: 1;
  padding: 50px 40px 40px 100px;
  margin-left: -70px;
  width: 60%;
  background-color: var(--foreground);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.intro-square p {
  color: var(--dark);
  line-height: 1.7em;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.intro-right-circle {
  z-index: 0;
  align-self: flex-end;
  margin-left: -10%;
  margin-bottom: -5%;
  width: 20%;
}

.intro-circle {
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: var(--secondary);
  border-radius: 50%;
}

.intro-square-contact {
  display: flex;
  margin: 10% 0 0 0;
  justify-content: flex-end;
}


.primary-color {
  color: var(--primary);
}

.secondary-color {
  color: var(--secondary);
}

.dark-color {
  color: var(--dark);
}

.material-icons {
  vertical-align: -5px;
}

.primary-button {
  background-color: var(--primary);
  padding: 10px 15px;
  border: none;
  font-weight: 400;
  text-align: center;
  color: var(--background);
  text-decoration: none;
}

@media only screen and (max-width: 1920px) {
  body {
    font-size: calc(var(--base-font-size)*0.9);
  }
}

@media only screen and (max-width: 1366px) {
  body {
    font-size: calc(var(--base-font-size)*0.8);
  }
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: calc(var(--base-font-size)*0.7);
  }
  .container {
    width: 100%;
  }
  .intro {
    flex-direction: column;
    margin: 0 10px;
  }
  .intro-image {
    width: 25%;
  }
  .intro-square {
    padding: 50px 20px 50px 20px;
    width: 85%;
    margin: 0;
    margin-top: -30px;
  }
  .intro-right-circle {
    width: 30%;
    margin: 0;
    margin-top: -20%;
    margin-left: -50%;
  }
}

@media only screen and (max-width : 768px) {
  body {
    font-size: calc(var(--base-font-size)*0.6);
  }
}
